<h3>
    <section class="bg-info p-2 rounded" id="topper">
        <div class="container">
            <div class="text-center"> Let's start our exam </div>
        </div>
    </section>
</h3>
<div class="row">
    <div class="text-center" id="start">
        <a type="button" href="/examAria" class="btn text-danger ">Start</a>
    </div>
</div>
