<%- include('head.ejs') -%>
<%- include('header.ejs') -%>
<%- include('authenticatedUser.ejs') -%>


<div class="container">
<section class=" text-center m-2 justify-content-center  text-center">

    <div class="bg-primary rounded text-light" id="aboutH1">
        <h1>
            Our site
        </h1>
    </div>


    <div class="row ">
        
        <span class='lead col-7  text-info '>
              
                This site is based giving you the pevious medical exams in Israel. Our aim is to give the experience of knowing how the exams are designed, and get aquanted with its questions and tricks. Thus offering you good knowledge to be prepared for the real examination.
                <br>
                A lot of effort has been placed to give you the information in a user friendly way. Hopping success for you in your life.
        </span>

       <span class="col col-1 " ></span>

        <span  >
            <img src="img/medicalExaminer.jpg"  class="rounded mt-2" alt="">
        </span>
        
    </spa>


   
</section><!--Intro-->

</div>

<%- include('footer.ejs') -%>
